{% extends 'base.html.twig' %}

{% block main %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container body-content">
        <div class="row">
            {% for article in pagination %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>

                        <p>
                            {{ article.summary }}
                        </p>

                        {% if article.image is null %}
                            <p>No Image</p>
                        {% else %}
                            <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" width="400" height="200" alt="">
                        {% endif %}

                        <small class="author">
                            {{ article.author.fullName }}
                        </small>

                        <p>
                            Views: {{ article.getViewsCount }}
                        </p>
                        <p>
                            Comments: {{ article.comments.count }}
                        </p>
                        <p>
                            Likes: {{ article.getLikers.count }}
                        </p>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('article_view',{'id':article.id}) }}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="navigation pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
