{% extends 'base.html.twig' %}

{% block main %}
    {% for msg in app.session.flashbag.get('info') %}
        <div id="msg" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Title: {{ article.title }}</h2>
                    </header>

                    <p>
                        Content: {{ article.content }}
                    </p>

                    {% if article.image is null %}
                        <p>No Image</p>
                    {% else %}
                        <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" alt="" width="400" height="200" >
                    {% endif %}

                    <small class="author">
                        Author: <a href="{{ path('user_profile', {'id': article.author.id}) }}">{{ article.author.fullName }}</a>
                        <a href="{{ path('user_message', {'id':article.author.id })}}" class="btn btn-info btn-xs">
                            Send Message</a>
                    </small><br>

                    <p>Likes: {{ article.likers.count }}
                        <a href="{{ path('article_likes', {'id':article.id}) }}" class="btn btn-info btn-xs">
                            {% if app.User.isLiker(article) %}
                            <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                        </a><br>
                            {% else %}
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </a><br>
                        {% endif %}
                    </p>

                    <p>Rating: 0 <button class="btn btn-success btn-xs" id="btnRate">Rate</button></p>
                    <div id="formRate"></div>
                        <h4>Comments: {{ article.comments.count }}</h4>

                        <a href="{{ path('add_comment', {'id':article.id}) }}" class="btn btn-info btn-xs">
                            Add Comment
                        </a>
                        <hr>
                        {% for comment in  article.comments %}
                    <comment>

                    <div class="container">{{ comment.content }}
                            <small class="author">{{ comment.author.fullName }} <a href="{{ path('user_message', {'id':article.author.id}) }}" class="btn btn-info btn-xs">
                                    Send Message</a></small>
                            <small class="date">{{ comment.dateAdded|date("d/m/Y") }}</small>
                                <div class="pull-right">
                                    {% if app.getUser() and (app.getUser().isAuthor(comment) or app.getUser().isAdmin()) %}
                                        <a class="btn btn-success btn-xs" href="{{ path('comment_edit', {'id': comment.id, 'article': article}) }}">Edit</a>
                                        <a class="btn btn-danger btn-xs" href="{{ path('comment_delete', {'id': comment.id}) }}">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                    </comment>
                        {% endfor %}


                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                            <a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id': article.id}) }}">Delete</a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back &raquo;</a>
                        </div>
                    </footer>
                    <hr>
                </article>

            </div>
        </div>
    </div>

    <script>
        let formRate = $(`
            <form method="post">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_rating">Rate</label>
                    <div class="col-sm-6">
                        <select name="rate" size="3">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <input class="btn btn-success btn-sm" type="submit" value="Rate" />
                    </div>
                </div>
            </form>
        `);

        $('#btnRate').click(function (e) {
            e.preventDefault();
            $('#formRate').append(formRate);
            $('#formRate').toggle();
        })
    </script>
{% endblock %}

