{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for article in pagination %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h2>Title: <a href="{{ path('article_view', {'id':article.getId}) }}">{{ article.title }}</a></h2>
                        </header>

                        <p>
                            Content: {{ article.content }}
                        </p>

                        {% if article.image is null %}
                            <p>No Image</p>
                        {% else %}
                            <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" alt="" width="400" height="200">
                        {% endif %}

                        <p>
                            Added on: {{ article.dateAdded|date("d/m/Y") }}
                        </p>

                        <p>Views: {{ article.viewsCount }}</p>
                        <p>Likes: {{ article.likesCount }}</p>
                        <p>Comments: {{ article.comments.count }}</p>
                        {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                        <footer>
                            <div class="pull-right">
                                    <a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                                    <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id': article.id}) }}">Delete</a>
                                    <a class="btn btn-default btn-xs" href="{{ path('user_profile', {'id':article.getAuthor.getId}) }}">back &raquo;</a>
                            </div>
                        </footer>
                        {% endif %}
                    </article>
                    <hr>
                </div>

            {% else %}
                <p>
                    Empty list
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

